.footer {
  text-align: center;
  padding: 2rem;

  &-list {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      display: inline-block;
      margin: 0.15em;
      position: relative;

      a {
        display: inline-block;

        &:before {
          transform: scale(1);
          content: " ";
          width: 5rem;
          height: 5rem;
          display: block;
          background: linear-gradient(45deg, var(--primary-default), var(--primary-default));
          transition: all 265ms ease-out;
          box-shadow: var(--background-default-shadow);
        }

        &:hover:before {
          transform: scale(0);
          transition: all 265ms ease-in;
        }

        &:hover i {
          transform: scale(2);
          color: var(--primary-default);
          background: -webkit-linear-gradient(45deg, var(--primary-default), var(--primary-default));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 265ms ease-in;
        }
      }

      i {
        color: var(--background-default);
        position: absolute;
        font-size: 3rem;
        top: 0.5rem;
        left: 1rem;
        transition: all 265ms ease-out;
      }
    }
  }
}
