<header class="header">
  <div class="header-logo">
    <i class="mdi mdi-coffee header-logo__icon"></i>
    <a routerLink="home"
       class="header-logo__name">vitalii lynnyk</a>
  </div>

  <input type="checkbox"
         class="header-toggle__checkbox"
         id="toggle">
  <label for="toggle"
         class="header-toggle header-toggle__button">
    <span class="header-toggle header-toggle__icon">
      &nbsp;
    </span></label>
  <div class="header-toggle header-toggle__background">&nbsp;</div>

  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__list-item">
        <a routerLink="home"
           routerLinkActive="active">Home</a>
      </li>
      <li class="header-nav__list-item">
        <a routerLink="projects"
           routerLinkActive="active">Projects</a>
      </li>
      <li class="header-nav__list-item">
        <a routerLink="resume"
           routerLinkActive="active">Resume</a>
      </li>
      <li class="header-nav__list-item">
        <a routerLink="contacts"
           routerLinkActive="active">Contacts</a>
      </li>
      <li class="header-nav__list-item">
        <a (click)="toggleTheme()">Change Theme</a>
      </li>
    </ul>
  </nav>
</header>
