.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 730px) {
    grid-template-columns: 1fr;
  }

  &-left {
    text-align: center;

    .header {
      color: var(--primary-default);
      text-shadow: var(--text-default-shadow);
    }

    details {
      cursor: pointer;
    }
  }

  .margin-2-0 {
    margin: 2rem 0;
  }

  .padding-10-25-5-25 {
    padding: 10rem 2.5rem 5rem 2.5rem;

    @media (max-width: 730px) {
      padding: 5rem 2.5rem 2rem 2.5rem;
    }
  }
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
  text-align: center;
  text-transform: uppercase;

  li {
    padding: 0.5rem;
    font-weight: 900;

    &:hover {
      cursor: pointer;

      .img-svg {
        filter: none;
      }

      p {
        text-shadow: var(--text-default-shadow);
      }
    }
  }
}

.img {
  max-width: 20rem;
  box-shadow: var(--background-default-shadow);

  &-svg {
    filter: var(--img-filter);
  }
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: var(--text-default-shadow);
}

.btn {
  color: var(--primary-default);
  padding: 1rem;
  font-size: inherit;
  border: none;
  display: inline-block;
  transition: all 265ms ease-in;

  &:hover {
    transform: translateY(0.1rem);
  }

  &--blue {
    border: 1px solid var(--primary-default);
  }
}
