.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 730px) {
    grid-template-columns: 1fr;
  }

  &-left {
    padding: 10rem 2.5rem 5rem 2.5rem;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;

    @media (max-width: 730px) {
      padding-bottom: 0;
    }

    &-header {
      text-align: center;
      color: var(--primary-default);

      img {
        border-radius: 50%;
        box-shadow: var(--background-default-shadow);
      }

      h1 {
        text-transform: uppercase;
        font-weight: 800;
      }

      p {

      }
    }

    &-details {
      text-align: center;
    }

    &-footer {
      h5 {

      }

      ul {
        list-style: none;
        display: flex;
      }
    }
  }

  &-right {
    padding: 10rem 2.5rem 5rem 2.5rem;

    &__title {
      font-size: 5rem;
    }

    &__list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: auto;
      grid-gap: 2rem;
      text-align: center;
      text-transform: uppercase;

      li {
        padding: .5rem;
        font-weight: 900;

        img {
          filter: var(--img-filter);
          cursor: pointer;

          &:hover {
            filter: none;
          }
        }
      }
    }
  }
}

.btn {
  color: var(--primary-default);
  padding: 1rem;
  font-size: inherit;
  border: none;
  display: inline-block;
  transition: all 265ms ease-in;

  &:hover {
    transform: translateY(.1rem);
  }

  &--blue {
    border: 1px solid var(--primary-default);
  }

  &--center {
    margin: 1rem auto;
  }
}
