.main {
  padding: 10rem 2.5rem 5rem 2.5rem;

  &__title {
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: var(--text-default-shadow);
  }

  &__section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 5rem;

    @media (max-width: 430px) {
      grid-template-columns: 1fr;
    }

    .card {
      position: relative;
      box-shadow: var(--background-default-shadow);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      padding: 2rem;
      display: grid;
      grid-template-rows: auto 1fr auto;
      align-items: center;

      h2 {
        text-align: center;
        text-shadow: var(--text-default-shadow);
      }

      img {
        box-shadow: var(--background-default-shadow);
        width: 100%;
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        li {
          padding: 1rem;
          box-shadow: var(--background-default-shadow);
          border: 1px solid var(--primary-default);
          transform: skew(-10deg);
          margin: .5rem;
        }
      }

      &:hover {
        box-shadow: var(--background-dark-shadow);
      }
    }
  }
}
