$color-white: #fff;
$color-dark: #000;

$color-primary: #4A09FF;
$color-primary-light: #7C4EFD; //5B20FF
$color-primary-dark: #3700D1; //2A019D
//
$color-secondary: #094BFF;
$color-secondary-light: #4E7DFD; //1F5BFF
$color-secondary-dark: #012A9A;
//
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
//
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

.header {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
  box-shadow: $shadow-light;

  height: 5rem;
  align-items: center;

  position: fixed;
  width: 100%;

  &-logo {
    &__icon {
      margin: 0 1rem;
    }

    &__name {
      text-transform: uppercase;
    }
  }

  &-toggle {
    display: none;

    @media (max-width: 730px) {
      display: block;
    }

    &__checkbox {
      display: none;
    }

    &__button {
      //background-color: $color-white;
      height: 3rem;
      width: 3rem;
      position: fixed;
      top: 10px;
      right: 10px;
      border-radius: 50%;
      z-index: 2000;
      //box-shadow: 0 1rem 3rem rgba(black, 0.1);
      text-align: center;
      cursor: pointer;
    }

    &__icon {
      position: relative;
      margin-top: 1.6rem;

      &,
      &::before,
      &::after {
        width: 1.5rem;
        height: 2px;
        background-color: $color-dark;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.8rem;
      }

      &::after {
        top: 0.8rem;
      }
    }

    &__background {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      position: fixed;
      top: 10px;
      right: 10px;
      background-image: radial-gradient($color-primary-light, $color-primary-dark);
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__button:hover &__icon:before {
      top: -1rem;
    }

    &__button:hover &__icon:after {
      top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(235deg);
    }

    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-235deg);
    }

    &__checkbox:checked ~ &__background {
      transform: scale(80);
    }

    &__checkbox:checked ~ .header-nav {
      opacity: 1;
      width: 100%;
    }
  }

  &-nav {
    display: flex;
    margin-right: 3rem;

    @media (max-width: 730px) {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
      list-style: none;
      display: flex;

      @media (max-width: 730px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
        flex-direction: column;
      }

      &-item {
        margin: 1rem;

        a {
          &:link,
          &:visited {
            display: inline-block;
            font-weight: 300;
            color: $color-dark;
            text-decoration: none;
            text-transform: uppercase;
            //background-image: linear-gradient(
            //  128deg,
            //  transparent 0%,
            //  transparent 50%,
            //  $color-secondary-dark 50%
            //);
            background-size: 250%;
            transition: all 0.5s;
          }

          &:hover,
          &:active {
            background-position: 100%;
            // color: $color-secondary-dark;
            transform: translateY(.1rem);

            @media (max-width: 730px) {
              transform: translateX(1rem);
            }
          }
        }
      }
    }
  }
}


.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 730px) {
    grid-template-columns: 1fr;
  }

  &-left {
    padding: 10rem 2.5rem 5rem 2.5rem;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));;
    grid-gap: 1rem;

    @media (max-width: 730px) {
      padding-bottom: 0;
    }

    &-header {
      margin: 0 auto;

      img {
        border-radius: 50%;
      }

      h1 {

      }

      p {

      }
    }

    &-details {
    }

    &-footer {
      h5 {

      }

      ul {
        list-style: none;
        display: flex;
      }
    }
  }

  &-right {
    padding: 10rem 2.5rem 5rem 2.5rem;

    &__title {
      font-size: 5rem;
    }

    &__list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: auto;

      li {
        border: 1px solid red;
        padding: .5rem;
      }
    }
  }
}


.footer {
  text-align: center;

  &-list {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      display: inline-block;
      margin: 0.15em;
      position: relative;
      //font-size: 1.2em;

      a {
        display: inline-block;

        &:before {
          transform: scale(1);
          content: " ";
          width: 60px;
          height: 60px;
          border-radius: 100%;
          display: block;
          background: linear-gradient(45deg, red, #002A8F);
          transition: all 265ms ease-out;
        }

        &:hover:before {
          transform: scale(0);
          transition: all 265ms ease-in;
        }

        &:hover i {
          transform: scale(2.2);
          color: red;
          background: -webkit-linear-gradient(45deg, red, #002A8F);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 265ms ease-in;
        }
      }

      i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all 265ms ease-out;
      }
    }
  }

  &-about {

  }
}
