<header class="header">
  <div class="header-logo">
    <i class="fa fa-coffee header-logo__icon"></i>
    <a href="#"
       class="header-logo__name">vitalii lynnyk</a>
  </div>

  <input type="checkbox"
         class="header-toggle__checkbox"
         id="toggle">
  <label for="toggle"
         class="header-toggle header-toggle__button">
    <span class="header-toggle header-toggle__icon">
      &nbsp;
    </span></label>
  <div class="header-toggle header-toggle__background">&nbsp;</div>

  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__list-item"><a href="#">Home</a></li>
      <li class="header-nav__list-item"><a href="#">Projects</a></li>
      <li class="header-nav__list-item"><a href="#">Resume</a></li>
      <li class="header-nav__list-item"><a href="#">Contacts</a></li>
      <li class="header-nav__list-item"><a href="#">Change Theme</a></li>
    </ul>
  </nav>
</header>
<main class="main">
  <section class="main-left">
    <div class="main-left-header">
      <img src="../assets/vitaliilynnyk.png"
           alt="logo" />
      <h1>Vitalii Lynnyk</h1>
      <p>Junior javaScript dev</p>
    </div>
    <details class="main-left-details">
      <summary>
        It is a long established fact that a reader will be
        distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a
        more-or-less normal distribution of letters, as opposed to using
        'Content here, content here'.
      </summary>
      <p>
        It is a long established fact that a reader will be distracted
        by the readable content of a page when looking at its layout.
        The point of using Lorem Ipsum is that it has a more-or-less normal
        distribution of letters, as opposed to using 'Content here, content here',
        making it look like readable English. Many desktop publishing packages
        and web page editors now use Lorem Ipsum as their default model text,
        and a search for 'lorem ipsum' will uncover many web sites still in their
        infancy. Various versions have evolved over the years, sometimes by accident,
        sometimes on purpose (injected humour and the like).
      </p>
    </details>
<!--    <div class="main-left-footer">-->
<!--      <h5>find me</h5>-->
<!--      <ul>-->
<!--        <li><a href="#"><i class="fa fa-github"></i></a></li>-->
<!--        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
<!--        <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--        <li><a href="#"><i class="fa fa-codepen"></i></a></li>-->
<!--        <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--      </ul>-->
<!--    </div>-->
  </section>
  <section class="main-right">
    <h3 class="main-right__title">Skills</h3>
    <ul class="main-right__list">
      <li>
        <i>img</i>
        <p>javaScript</p>
      </li>
      <li>
        <i>img</i>
        <p>Node.js</p>
      </li>
      <li>
        <i>img</i>
        <p>angular</p>
      </li>
      <li>
        <i>img</i>
        <p>Java</p>
      </li>
      <li>
        <i>img</i>
        <p>TypeScript</p>
      </li>
      <li>
        <i>img</i>
        <p>Docker</p>
      </li>
      <li>
        <i>img</i>
        <p>css</p>
      </li>
      <li>
        <i>img</i>
        <p>html</p>
      </li>
      <li>
        <i>img</i>
        <p>MongoDb</p>
      </li>
      <li>
        <i>img</i>
        <p>PostgreSql</p>
      </li>
      <li>
        <i>img</i>
        <p>Firebase</p>
      </li>
      <li>
        <i>img</i>
        <p>MySql</p>
      </li>
      <li>
        <i>img</i>
        <p>Android</p>
      </li>
    </ul>
  </section>
</main>
<!--<footer>-->
<!--  <ul>-->
<!--    <li><a href="#"><i>github</i></a></li>-->
<!--    <li><a href="#"><i>linkedin</i></a></li>-->
<!--    <li><a href="#"><i>twitter</i></a></li>-->
<!--    <li><a href="#"><i>codepen</i></a></li>-->
<!--    <li><a href="#"><i>facebook</i></a></li>-->
<!--  </ul>-->
<!--  <p>created by <a href="#">Vitalii lynnyk</a></p>-->
<!--  <p>Copyright © 2020 | All Rights Reserved</p>-->
<!--</footer> -->
