$bg-color: #fff;
$text-color: rgb(34, 34, 34);
$second-text-color: rgba(34, 34, 34, 0.5);
$border-color: #dadce0;
$black-color: #222;
$white-color: #fff;
$danger-color: red;
$text-size: 32px;
$box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 3px 4px 0 rgba(0, 0, 0, 0.06),
  0 1px 5px 0 rgba(0, 0, 0, 0.2);

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow;

  min-height: 3rem;
  align-items: center;

  position: fixed;
  width: 100%;

  &-logo {
    &__icon {
    }

    &__name {
    }
  }

  &-toggle {
    display: none;

    @media (max-width: 730px) {
      display: block;
    }

    &__checkbox {
      display: none;
    }

    &__button {
      //background-color: $color-white;
      height: 3rem;
      width: 3rem;
      position: fixed;
      top: 0rem;
      right: 0rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba(black, 0.1);
      text-align: center;
      cursor: pointer;
    }

    &__icon {
      position: relative;
      margin-top: 1.6rem;

      &,
      &::before,
      &::after {
        width: 1.5rem;
        height: 2px;
        background-color: #333;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }

    &__background {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      position: fixed;
      top: 0rem;
      right: 0rem;
      background-image: radial-gradient(red, green);
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__button:hover &__icon:before {
      top: -1rem;
    }

    &__button:hover &__icon:after {
      top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(235deg);
    }

    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-235deg);
    }

    &__checkbox:checked ~ &__background {
      transform: scale(80);
    }

    &__checkbox:checked ~ .header-nav {
      opacity: 1;
      width: 100%;
    }
  }

  &-nav {
    display: flex;

    @media (max-width: 730px) {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
      list-style: none;
      display: flex;

      @media (max-width: 730px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
        flex-direction: column;
      }

      &-item {
        margin: 1rem;

        a {
          &:link,
          &:visited {
            display: inline-block;
            font-size: 1rem;
            //padding: 1rem 2rem;
            font-weight: 300;
            color: wheat;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(
              128deg,
              transparent 0%,
              transparent 50%,
              white 50%
            );
            background-size: 250%;
            transition: all 0.5s;
          }

          &:hover,
          &:active {
            background-position: 100%;
            color: white;
            transform: translateX(1rem);
          }
        }
      }
    }
  }
}
