@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Luckiest+Guy&display=swap');

:root {
  --font-family-main: 'Cormorant Garamond', serif;
  --font-family-secondary: 'Luckiest Guy', cursive;
}

/// dark bg #212A3A

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-main);
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: var(--background-default);
  color: var(--foreground-default);

  a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
}

#particles-js {
  position: fixed !important;
  height: 100vh;
  width: 100vw;
  z-index: -1 !important;
}
