<main class="main">
  <section class="main__left">
    <img src="../assets/vitaliilynnyk.jpg"
         class="img">
    <div class="section-headline">
      Contact
    </div>
    <ul class="list list-contact">
      <li>
        <i class="mdi mdi-account-circle"></i>
        <span>Ukraine, Cherkasy</span>
      </li>
      <li>
        <i class="mdi mdi-cellphone"></i>
        <a href="tel:380638008456">+38 063 800 84 56</a>
      </li>
      <li>
        <i class="mdi mdi-email"></i>
        <a href="linnik2101@gmail.com">linnik2101@gmail.com</a>
      </li>
    </ul>
    <div class="section-headline">
      Skills
    </div>
    <ul class="list list-skills">
      <li>
        <span>JavaScript</span>
      </li>
      <li>
        <span>TypeScript</span>
      </li>
      <li>
        <span>Java</span>
      </li>
      <li>
        <span>Node.js</span>
      </li>
      <li>
        <span>Angular 8</span>
      </li>
      <li>
        <span>React</span>
      </li>
      <li>
        <span>android</span>
      </li>
      <li>
        <span>SQL</span>
      </li>
      <li>
        <span>NoSql</span>
      </li>
      <li>
        <span>Docker</span>
      </li>
    </ul>
  </section>
  <section class="main__right">
    <div class="title">
      <h2>Vitalii Lynnyk</h2>
      <h3>Software Developer</h3>
    </div>
    <div class="section-headline">Experience</div>
    <div class="block">
      <h3 class="headline">Freelance</h3>
      <div class="subheadline">since January 2019</div>
      <p class="info">
        Helping people to implement ideas.
      </p>
    </div>
    <div class="section-headline">Education</div>
    <div class="block">
      <h3 class="headline">Master of Computer Engineering</h3>
      <p class="info">
        09.2019 – 06.2021.<br>
        A student of Vistula University, Warsaw, Poland.
      </p>
    </div>
    <div class="block">
      <h3 class="headline">Bachelor of Software Engineering</h3>
      <p class="info">
        09.2015 – 06.2019.<br>
        I graduated Cherkasy State Technological University with honors.
      </p>
    </div>
  </section>
</main>
